#
# IDE files
#

*.user
*.user.*
*.kate.swp
.vscode/
.vstags

#
# OS files
#

.DS_Store
[Tt]humbs.db
.directory

#
# Qt automatically-generated code
#

moc_*
qrc_*
ui_*

#
# Distribution files
#

*.tar
*.tar.*

#
# Build output
#

build/
dist/
*.o
*.obj
*.a
*.lib
*.pdb
wespal
wespal.exe
Wespal.app
