[Desktop Entry]
Version=1.0
Type=Application
Name=Wesnoth RCX
GenericName=Image Recoloring Tool
Comment=A Wesnoth graphics team-coloring/recoloring tool.
Icon=wesnoth-rcx
Exec=wesnoth-rcx
Categories=Graphics;2DGraphics;RasterGraphics;Qt;
